<script>
    let saveBtn = $("#saveBtn")
    let canvasPreview = document.getElementById('canvasPreview')
    let image = document.getElementsByClassName('main-image')[0]
    let canvasPreview2 = document.getElementById('canvasPreview2')
    let shareBtn = $('#shareBtn')
    let onClickSaveBtn = () => {
        {#let dataURIString = canvas.toDataURL()#}
        let imageSrc = image.src
        canvasPreview.innerHTML = "<img src='" + imageSrc + "' width='100%' height='100%'>"
    }
    let onClickShareBtn = () => {
        {#let dataURIString = canvas.toDataURL()#}
        let imageSrc = image.src
        canvasPreview2.innerHTML = "<img src='" + imageSrc + "' width='100%' height='100%'>"
    }
    saveBtn.click(onClickSaveBtn)
    shareBtn.click(onClickShareBtn)

    let feedPostButton = $('#feedPostButton')
    let submitPost = () => {
        let csr = $("input[name='csrfmiddlewaretoken']").val()
        let dataURIString = canvas.toDataURL()
        data = {dataURIString: dataURIString, csrfmiddlewaretoken: csr}
            $.ajax({
            url: "{% url 'postManagement:uploadPostUrl' %}",
            type: "POST",
            data: data,
            success: function(response){
                if(response.status === 1){
                window.location.href = '/postManagement/addPost/' + response.idURI
            }}
        })
        }
        feedPostButton.click(submitPost)
</script>
