.banner {
  width: 55vw;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 2em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  margin-top: 2px;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 0.3s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: 400px;
  width: 90%;
  will-change: transform, opacity;
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.arrow-container {
  position: relative;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 40%;
  left: 39.75%;
  width: 23.0%;
  transform: rotateZ(30deg);
  z-index: 1;
}

.card-header {
  background: #e7f6fe!important;
}

#footer {
  position: relative;
}

#btn-back-to-top {
  position: absolute;
  right: 30px;
  color: #f1f1f1;
}

#btn-back-to-top:focus {
  outline: none;
  box-shadow: none;
}

/* Below Medium */
@media (max-width: 768px) {
  .arrow {
    top: 60%;
    left: 44.5%;
    width: 12%;
  }
}

/* Medium to Large*/
@media (min-width: 768px) and (max-width: 992px) {
  .arrow {
    top: 60%;
    left: 46%;
    width: 10%;
  }
}

/* Large to X-Large*/
@media (min-width: 992px) and (max-width: 1350px) {
  .arrow {
    top: 53%;
    left: 42.5%;
    width: 18%;
  }
}


