  <!-- Edit User Modal -->
  <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="">

                <div class="form-floating mb-3">
                    <input type="Name" class="form-control" id="nameInput" placeholder="Name">
                    <label for="nameInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="usernameInput" placeholder="Username">
                    <label for="usernameInput">Username</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Enter your Bio" id="bioInput"></textarea>
                    <label for="bioInput">Comments</label>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  