.profile-picture {
    height: 125px;
    width: 125px;
    border-radius: 100px;
}

.user-posts {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: #555;
}

hr {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Medium and up */
@media (min-width: 768px) {}


/* Below Medium */
@media (max-width: 768px) {
    .user-posts {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}